<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carregando • Palpites IA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="tela-carregamento">

    <div class="bola-neon">
        <img src="/static/img/raio.svg" class="icone-raio">
    </div>

    <h1 class="login-titulo">Palpites IA</h1>
    <p style="text-align:center;color:#00ff88;">Carregando sistema premium...</p>

</div>

</body>
</html>
